<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<%= render "comments/form", comment: @comment %>

<% @post.comments.reverse.each do |comment| %>
  <% if comment.valid? %>
    <hr/>
    <h3><%= comment.subject %></h3>
    <p><%= comment.body %></p>
    <hr/>
  <% end %>
<% end %>